@media (max-width: 600px) {
  nav {
    width: 100vw;
    height: 10vw;
    padding: 2%;
  }

  nav .logo {
    width: 29vw;
    height: 6vw;
  }

  nav ul li {
    margin: 0;
  }

  nav .sidemenu {
    padding: 0;
    gap: 0.1rem;
  }

  nav ul li a {
    font-size: 0.95rem;
  }

  .home {
    display: none;
  }

  /* HERO SECTION */

  .heroShape {
    position: absolute;
    margin: 0;
    z-index: -10;
    right: 1vw;
    top: 19vw;
  }

  .heroPicture {
    position: absolute;
    top: 21vw;
    left: 65vw;
  }

  .header-text {
    margin: 10% 4% 10%;
    padding: 0;
  }

  .header-text h1 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 7vw;
    word-spacing: 0.01rem;
  }

  .header-text p {
    font-size: 1rem;
    padding: 0.5%;
  }

  .btn {
    position: absolute;
    top: 43vw;
    padding: 0.6rem 1rem;
    font-size: 0.9rem;
  }

  .btn i {
    font-size: 0.9rem;
  }

  .socials {
    position: relative;
    top: 12vw;
  }

  .socials a {
    font-size: 1rem;
  }

  /* ABOUT SECTION */

  .about {
    position: relative;
    top: 13vw;
    display: flex;
    justify-content: center;
  }

  .about-col-1 h2 {
    font-size: 3rem;
  }

  .about-col-1 h2::before {
    position: absolute;
    left: 37vw;
    bottom: -1vw;
  }

  .about-image img {
    width: 40vw;
    height: 51vw;
    display: none;
  }

  .right-card {
    display: grid;
    top: 20vw;
    width: 90vw;
    height: 75vw;
    padding: 5%;
  }

  .buttons {
    margin: 3% 0;
  }

  /*  SERVICES  */

  .sub-headin2 {
    font-size: 3rem;
  }
}
