/*==========POPPINS FONT-FAMILY==========*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #ebf5ee;
}

/*==========NAV SECTION==========*/

#navbar {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  margin: 0 0 5vw 0;
}

nav {
  width: 90%;
  height: 6vw;
  display: flex;
  align-items: center;
  border-radius: 20px;
  justify-content: space-between;
  padding: 0 5rem;
  backdrop-filter: blur(8px);
  position: fixed;
  z-index: 222;
}

.navLogo {
  object-fit: cover;
  width: 20vw;
  mix-blend-mode: darken;
}

.navItems {
  display: flex;
  gap: 3rem;
  list-style-type: none;
}

.navItems li a {
  position: relative;
  color: #0b1215;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  word-spacing: 1px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.navItems li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 2px;
  background-color: #004346;
  transform-origin: left;
  transform: scale(0);
  transition: all 0.3s ease;
}

.navItems li a:hover::after {
  transform: scale(1);
}

.navItems li a:hover {
  color: #004346;
}

/*===========HERO SECTION===========*/

.hero {
  position: relative;
  padding: 5rem;
  margin: -2.5vw 0 5vw 0;
}

.heroImg {
  width: 30vw;
  margin: 0vw 0 0 55vw;
  border-bottom-right-radius: 70px;
  border-bottom-left-radius: 70px;
}

.firstFloat,
.secondFloat {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  backdrop-filter: blur(10px);
  width: 14vw;
  height: 4vw;
  border-radius: 11px;
  background-color: transparent;
  border: 3px solid transparent;
  border-top-color: #004346;
  color: #0b1215;
  font-weight: 500;
  font-size: 1.3rem;
}

.firstFloat i,
.secondFloat i {
  font-size: 2.4rem;
  color: #004346;
}

.firstFloat {
  left: 79vw;
  margin: -8vw 0vw 0vw 76vw;
  top: 30vw;
  animation: movement 5s linear infinite alternate-reverse;
}

.secondFloat {
  right: 25vw;
  margin: -20vw 0 0 57vw;
  animation: movement2 5s linear infinite alternate-reverse;
}

@keyframes movement {
  0% {
    transform: translate(10%, 10%);
  }

  100% {
    transform: translate(-50%, -80%);
    color: #ebf5ee;
  }
}

@keyframes movement2 {
  0% {
    transform: translate(-30%, 80%);
  }

  100% {
    transform: translate(-20%, -50%);
  }
}

.leftText {
  width: 50vw;
  height: 20vw;
  margin-top: -8vw;
}

.leftText h3 {
  font-size: 2.8rem;
  font-weight: 500;
  color: #0b1215;
  margin: 0 0 -1vw 0;
}

.leftText h2 {
  font-size: 3.6rem;
  font-weight: 500;
  color: #0b1215;
}

.leftText p {
  margin-top: 1.2vw;
  font-size: 1.3rem;
}

.leftText p span {
  position: relative;
  color: #004346;
}

.leftText p span::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background-color: #004346;
  animation: blinkCursor 0.8s steps(3) infinite;
}

@keyframes blinkCursor {
  0%,
  75% {
    opacity: 1;
  }

  76%,
  100% {
    opacity: 0;
  }
}

.hire {
  position: absolute;
  background-color: #004346;
  padding: 0.7vw 2.5vw;
  border-radius: 30px;
  font-size: 1.3rem;
  text-decoration: none;
  color: #ebf5ee;
  transition: all 0.2s linear;
}

.hire:hover {
  transform: scale(0.9);
}

/*==========ABOUT SECTION==========*/

#about {
  position: relative;
  padding: 10rem 15rem;
}

.heading {
  display: flex;
  justify-content: center;
}

.sectionHeading {
  position: relative;
  font-size: 4rem;
  color: #0b1215;
  margin-bottom: 10vw;
}

.sectionHeading span {
  color: #004346;
}

.aboutText {
  text-align: center;
  width: 100%;
  height: 20vw;
  margin-top: -8vw;
}

.aboutText span {
  font-size: 1.5rem;
  color: #004346;
  word-spacing: 0.2rem;
  font-weight: 500;
}

.aboutText span p {
  font-size: 1.2rem;
  margin-top: 2rem;
  color: #0b1215;
}

.aboutBtn {
  display: flex;
  justify-content: center;
  transform: scale(1);
}

.aboutBtn a:hover {
  transform: scale(0.9);
}

.aboutBtn a {
  text-decoration: none;
  background-color: #004346;
  color: #ebf5ee;
  border-radius: 15px;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  transition: all 0.2s ease;
}

.aboutBtn a i {
  font-size: 1.4rem;
  margin-left: 1rem;
}

/*==========SKILLS SECTION==========*/

#skills {
  padding: 2rem 10rem;
}

.allSkills {
  display: flex;
}
.leftSkills {
  margin: -5vw 0 0 0;
  width: 36vw;
}

.rightSkills {
  margin: -5vw 0 0 15vw;
  width: 36vw;
}

.leftSkills li,
.rightSkills li {
  list-style-type: none;
  margin: 1.5rem 0;
}

.bar {
  background-color: #0b1215;
  display: block;
  height: 0.8vw;
  width: 100%;
  border: 1px solid wheat;
  border-radius: 4px;
  overflow: hidden;
}

.bar span {
  height: 0.8vw;
  float: left;
  background-color: #004346;
}

.info {
  display: flex;
  justify-content: space-between;
}

.info img {
  width: 1.7vw;
  margin-bottom: 0.5vw;
}

.javaScript,
.html {
  width: 85%;
  animation: javascript 3s ease;
}
.react,
.mySql {
  width: 82%;
  animation: react 3s ease;
}
.nextJs,
.nodeJs {
  width: 79%;
  animation: nextjs 3s ease;
}
.tailwindCss,
.mongoDb {
  width: 90%;
  animation: tailwindcss 3s ease;
}
.git,
.python {
  width: 85%;
  animation: git 3s ease;
}

@keyframes javascript {
  0% {
    width: 0%;
  }

  100% {
    width: 85%;
  }
}

@keyframes react {
  0% {
    width: 0%;
  }

  100% {
    width: 82%;
  }
}

@keyframes nextjs {
  0% {
    width: 0%;
  }

  100% {
    width: 79%;
  }
}

@keyframes tailwindcss {
  0% {
    width: 0%;
  }

  100% {
    width: 90%;
  }
}

@keyframes git {
  0% {
    width: 0%;
  }

  100% {
    width: 85%;
  }
}

/*=========EXPERIENCE SECTION==========*/

.experience {
  margin-top: 10vw;
  position: relative;
  padding: 0 10rem;
}

.timeline {
  width: 100%;
  height: 58vw;
}

.container {
  padding: 10px 50px;
  margin-top: -3vw;
  width: 40vw;
  position: relative;
}

.textBox {
  position: relative;
  color: #0b1215;
  background-color: #9ab2ff;
  border-radius: 18px;
  padding: 10px 20px;
}

.leftContainer {
  left: 0;
}

.rightContainer {
  left: 51%;
}

.container img {
  position: absolute;
  z-index: 55;
  width: 3vw;
  border-radius: 50%;
  right: -1.3vw;
  backdrop-filter: blur(50px);
}

.rightContainer img {
  backdrop-filter: blur(50px);
  left: -1.5vw;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 50.55%;
  width: 6px;
  height: 80%;
  background-color: #9ab2ff;
  animation: movingline 5s linear forwards;
}

@keyframes movingline {
  0% {
    height: 0;
  }

  100% {
    height: 80%;
  }
}

.leftContainer-arrow {
  position: absolute;
  top: 0.8vw;
  left: 33.4vw;
  height: 0;
  width: 0;
  z-index: 11;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #9ab2ff;
}

.rightContainer-arrow {
  position: absolute;
  top: 0.8vw;
  right: 33.4vw;
  height: 0;
  width: 0;
  z-index: 11;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #9ab2ff;
}

/*==========PROJECTS SECTION==========*/
#work {
  margin-top: 10vw;
}

.projectFilter {
  display: flex;
  width: 80%;
  margin: -5vw auto;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #9b9b9b; */
  flex-wrap: wrap;
}

.projectFilter li {
  list-style-type: none;
  padding: 1vw 2vw;
  color: #9b9b9b;
  cursor: pointer;
  user-select: none;
}

.projectFilter-active {
  color: #0b1215;
  background-color: #9b9b9b;
}
